.jumbotron {
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #cc20a78a;
  border-radius: 0.3rem;
}

.card {
  margin-bottom: 20px;
  background-color: #cc20a78a;
}

.card-title {
  text-align: center;
}

.center {
  text-align: center;
}

ol {
  margin: 0;
  padding: 0;
  display: inline;
}



img {
  margin: auto;
  float: right;
  height: 200px;
  width: 18%;
  border: solid 3px black;
  display: block;
}

body {
  background-color: rgb(136, 253, 243);
}

h2 {
  text-align: center;
}