.jumbotron {
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #cc20a78a;
  border-radius: 0.3rem;
}

.highlight {
  background-color: rgba(25, 235, 6, 0.774);
}

.card {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #cc20a78a;
  border: solid 2px black;
}

.card-title {
  text-align: center;
}

.center {
  text-align: center;
}


img {
  margin: auto;
  float: right;
  height: 250px;
  width: 20%;
  border: solid 3px black;
  display: block;
}

body {
  background-color: rgb(136, 253, 243);
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

p {
  font-size: larger;
}

a {
  font-size: larger;
}

ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
  font-size: larger;
}

ol {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.url {
  margin-top: 20px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}

